bin/Debug/net8.0/Azure.Core.dll
bin/Debug/net8.0/Azure.Identity.dll
bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
bin/Debug/net8.0/Microsoft.Data.SqlClient.dll
bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
bin/Debug/net8.0/Microsoft.EntityFrameworkCore.SqlServer.dll
bin/Debug/net8.0/Microsoft.Extensions.Caching.Abstractions.dll
bin/Debug/net8.0/Microsoft.Extensions.Caching.Memory.dll
bin/Debug/net8.0/Microsoft.Extensions.Configuration.Abstractions.dll
bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.dll
bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
bin/Debug/net8.0/Microsoft.Extensions.Logging.dll
bin/Debug/net8.0/Microsoft.Extensions.Options.dll
bin/Debug/net8.0/Microsoft.Extensions.Primitives.dll
bin/Debug/net8.0/Microsoft.Identity.Client.dll
bin/Debug/net8.0/Microsoft.Identity.Client.Extensions.Msal.dll
bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
bin/Debug/net8.0/Microsoft.SqlServer.Server.dll
bin/Debug/net8.0/Microsoft.Win32.SystemEvents.dll
bin/Debug/net8.0/Newtonsoft.Json.dll
bin/Debug/net8.0/QuestionBot.deps.json
bin/Debug/net8.0/QuestionBot.dll
bin/Debug/net8.0/QuestionBot.exe
bin/Debug/net8.0/QuestionBot.pdb
bin/Debug/net8.0/QuestionBot.runtimeconfig.json
bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
bin/Debug/net8.0/System.Drawing.Common.dll
bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
bin/Debug/net8.0/System.Memory.Data.dll
bin/Debug/net8.0/System.Runtime.Caching.dll
bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
bin/Debug/net8.0/System.Security.Permissions.dll
bin/Debug/net8.0/System.Windows.Extensions.dll
bin/Debug/net8.0/Telegram.Bot.dll
bin/Debug/net8.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
bin/Debug/net8.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
bin/Debug/net8.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
bin/Debug/net8.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
bin/Debug/net8.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
bin/Debug/net8.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
.VSCodeCounter/2024-06-07_16-19-09/details.md
.VSCodeCounter/2024-06-07_16-19-09/diff-details.md
.VSCodeCounter/2024-06-07_16-19-09/diff.csv
.VSCodeCounter/2024-06-07_16-19-09/diff.md
.VSCodeCounter/2024-06-07_16-19-09/diff.txt
.VSCodeCounter/2024-06-07_16-19-09/results.csv
.VSCodeCounter/2024-06-07_16-19-09/results.json
.VSCodeCounter/2024-06-07_16-19-09/results.md
.VSCodeCounter/2024-06-07_16-19-09/results.txt
.VSCodeCounter/2024-06-07_16-40-03/details.md
.VSCodeCounter/2024-06-07_16-40-03/diff-details.md
.VSCodeCounter/2024-06-07_16-40-03/diff.csv
.VSCodeCounter/2024-06-07_16-40-03/diff.md
.VSCodeCounter/2024-06-07_16-40-03/diff.txt
.VSCodeCounter/2024-06-07_16-40-03/results.csv
.VSCodeCounter/2024-06-07_16-40-03/results.json
.VSCodeCounter/2024-06-07_16-40-03/results.md
.VSCodeCounter/2024-06-07_16-40-03/results.txt
.vs/ProjectEvaluation/questionbot.metadata.v8.bin
.vs/ProjectEvaluation/questionbot.projects.v8.bin
.vs/ProjectEvaluation/questionbot.strings.v8.bin
.vs/QuestionBot/FileContentIndex/c8d51c08-dea0-401f-83ee-6c82abad5974.vsidx
.vs/QuestionBot/v17/.futdcache.v2
.vs/QuestionBot/v17/.suo
.vs/QuestionBot/v17/DocumentLayout.json
bin/Debug/net8.0/BouncyCastle.Crypto.dll
bin/Debug/net8.0/EPPlus.dll
bin/Debug/net8.0/EPPlus.Interfaces.dll
bin/Debug/net8.0/EPPlus.System.Drawing.dll
bin/Debug/net8.0/itext.barcodes.dll
bin/Debug/net8.0/itext.commons.dll
bin/Debug/net8.0/itext.forms.dll
bin/Debug/net8.0/itext.io.dll
bin/Debug/net8.0/itext.kernel.dll
bin/Debug/net8.0/itext.layout.dll
bin/Debug/net8.0/itext.pdfa.dll
bin/Debug/net8.0/itext.sign.dll
bin/Debug/net8.0/itext.styledxmlparser.dll
bin/Debug/net8.0/itext.svg.dll
bin/Debug/net8.0/Microsoft.DotNet.PlatformAbstractions.dll
bin/Debug/net8.0/Microsoft.Extensions.Configuration.dll
bin/Debug/net8.0/Microsoft.Extensions.Configuration.FileExtensions.dll
bin/Debug/net8.0/Microsoft.Extensions.Configuration.Json.dll
bin/Debug/net8.0/Microsoft.Extensions.DependencyModel.dll
bin/Debug/net8.0/Microsoft.Extensions.FileProviders.Abstractions.dll
bin/Debug/net8.0/Microsoft.Extensions.FileProviders.Physical.dll
bin/Debug/net8.0/Microsoft.Extensions.FileSystemGlobbing.dll
bin/Debug/net8.0/Microsoft.IO.RecyclableMemoryStream.dll
bin/Debug/net8.0/System.Security.Cryptography.Pkcs.dll
bin/Debug/net8.0/Data/TimesNewRoman.ttf
bin/Debug/net8.0/buffer/dialog.pdf
bin/Debug/net8.0/buffer/dialogDocument
bin/Debug/net8.0/buffer/dialoghistory.xlsx
bin/Debug/net8.0/runtimes/win/lib/net7.0/Microsoft.Win32.SystemEvents.dll
bin/Debug/net8.0/runtimes/win/lib/net7.0/System.Drawing.Common.dll
bin/Debug/net8.0/runtimes/win/lib/net8.0/System.Security.Cryptography.Pkcs.dll
